<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.mojang.minecraftpe" />
        <package android:name="com.StefMorojna.SpaceflightSimulator" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="minecraft" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="TAYVORIQ Universal Import"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SfsPackImportActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Spaceflight Mod mit TAYVORIQ installieren"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter android:priority="200">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" android:pathPattern=".*\.pack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FileImportActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Mit TAYVORIQ importieren"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Material.NoActionBar">

            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/mcaddon" />
                <data android:mimeType="application/mcpack" />
                <data android:mimeType="application/mcworld" />
            </intent-filter>

            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" android:pathPattern=".*\.mcaddon" />
                <data android:scheme="file" android:pathPattern=".*\.mcpack" />
                <data android:scheme="file" android:pathPattern=".*\.mcworld" />
                <data android:scheme="file" android:pathPattern=".*\.zip" />
                <data android:scheme="file" android:pathPattern=".*\.pack" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
        </activity>
    </application>
</manifest>
